Repository jamesulip/git-practice, changes with the labels that .github/labeler.yml gives for each.
All labels: label1, label2

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
label1:
- src/**/*

# Add 'label2' to any file changes within 'example2' folder
label2: public/*

Update ci.yml
  .github/workflows/ci.yml
Labels: none

code fix
  .github/workflows/ci.yml
Labels: none

code fix
  src/pages/index.vue
Labels: label1

Update ci.yml
  .github/workflows/ci.yml
Labels: none

trigger changes
  src/pages/index.vue
Labels: label1

Update ci.yml
  .github/workflows/ci.yml
Labels: none

code fix
  .github/workflows/CheckLabel.yml
  .github/workflows/Labeler.yml
  src/pages/index.vue
Labels: label1

Update CheckLabel.yml
  .github/workflows/CheckLabel.yml
Labels: none

asd
  .github/workflows/CheckLabel.yml
  .github/workflows/Labeler.yml
Labels: none

trigger pr
  src/pages/index.vue
Labels: label1

hotfix labeler
  .github/workflows/Labeler.yml
Labels: none

hotfix labeler 2
  src/pages/index.vue
Labels: label1

hotfix labeler 3
  src/pages/index.vue
Labels: label1

Create docker-image.yml
  .github/workflows/docker-image.yml
Labels: none

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: none

hotfix labeler 3
  .github/workflows/Labeler.yml
  src/pages/index.vue
Labels: label1

hotfix labeler 5
  src/pages/index.vue
Labels: label1

Update Labeler.yml
  .github/workflows/Labeler.yml
Labels: none

hotfix labeler 6
  .github/workflows/docker-image.yml
  public/sd
  src/pages/index.vue
Labels: label1, label2

hotfix labeler 7
  .github/workflows/docker-image.yml
  src/pages/index.vue
Labels: label1

hotfix labeler 7
  .github/workflows/docker-image.yml
Labels: none

hotfix labeler 8
  src/pages/index.vue
Labels: label1

Update Labeler.yml
  .github/workflows/Labeler.yml
Labels: none

Update docker-image.yml
  .github/workflows/docker-image.yml
Labels: none

Update Labeler.yml
  .github/workflows/Labeler.yml
Labels: none

hotfix labeler 9
  src/pages/index.vue
Labels: label1

hotfix labeler 10
  .github/workflows/Labeler.yml
  src/pages/index.vue
Labels: label1

Update Labeler.yml
  .github/workflows/Labeler.yml
Labels: none

hotfix labeler 11
  src/pages/index.vue
Labels: label1

test feature
  .gitignore
  index.html
Labels: none

feature
  index.html
Labels: none
